---

---
<main class="flex flex-col m-auto py-16">
    <section id="top" class="py-6">
        <h1>Hey, this is Alan</h1>
    </section>

    <section id="experience" class="py-6">
        <h2>Work Experience</h2>
    </section>

    <section id="about" class="py-6">
        <h2>About me</h2>
    </section>

    <section id="contact" class="py-6">
        <h2>Contact</h2>
    </section>
</main>
